main{
	font-family: "Open Sans",sans-serif;
}

#s1 .bx .bx-body{
  background-color: rgba(54.1, 0, 13.7, 0.8);
  background-size: cover;
  color:#fff;
}

#s2 .bx .bx-body:first-child{
	background-color: #eee;
}
#s2 .bx .bx-body:last-child > h2{
	display:none;
}
#s2 .bx .bx-body:last-child > p{
	display:none;
}

#s3{
	background-color: #8A0023;
}

#s4{
	background-color: #8A0023;
}




