/* [element:big-header] */
#s1 > .bx{
  height:30%;
}
#s1 > .bx .bx-body{
  padding: 10% 10% 15%;
  font-weight: 300;

}
#s1 > .bx .bx-body h2{
  font-weight: 300;
  font-size: 2.5em;
  line-height: 1em;
  margin: 0.1em 0;
}
#s1 > .bx .bx-body p{
  font-weight: 300;
  font-size: 0.8em;
}
/* [!element:big-header] */

/* [element:double-rect] */
#s2 > .bx{
  flex: 0 0 50%; 
}
#s2 > .bx .bx-body{
  padding:10%;
}
#s2 > .bx .bx-body h2{
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-size: 1em;
}
#s2 > .bx .bx-body p{
  font-weight: 300;
  font-size: 0.9em;
}
/* [!element:double-rect] */

/* [element:centered-title] */
#s3 > .bx .bx-body{
  text-align:center;
  padding: 5% 10% 2%;
}
#s3 > .bx .bx-body h2{
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: 300;
}
#s3 > .bx .bx-body p{
  font-weight: 300;
  font-size: 1em;
}
/* [!element:centered-title] */

/* [element:pin-card] */
#s4{
  padding-bottom:5%;
}
#s4 > .bx{
  padding:1%;
}
#s4 > .bx .bx-body{
  margin: 2%;
  padding: 5%;
}
#s4 > .bx .bx-body h2{
  font-size: 2.4em;
  font-weight: normal;
  text-align: center;
  line-height: 1em;
}
#s4 > .bx .bx-body p{
  font-size: 0.9em;
  font-weight: 300;
  text-align: center;
  margin:0 5%;
}


/* [!element:pin-card] */


#s5 > .bx .bx-body{
  text-align:center;
  padding: 5% 10% 2%;
}
#s5 > .bx .bx-body h2{
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: 300;
}
#s5 > .bx .bx-body p{
  font-weight: 300;
  font-size: 1em;
}

/* [element:mozaic] */

#s6 > .bx .bx-body{
  display:flex;
  align-items:center;
  justify-content:center;
}
#s6 > .bx .bx-body h2{
  font-size: 0.8em;
}

/* [element:mozaic] */

#s7 > .bx .bx-body{
  display:flex;
  align-items:center;
  justify-content:center;
}
#s7 > .bx .bx-body h2{
  font-size: 0.8em;
}