#s1 > .bx .bx-body{
  display: flex;
  flex-direction: column-reverse;
}

/* [element:double-rect] */
#s2{
/*#s2.section{*/
  display:flex;
}
#s2 .bx:last-child > .bx-body h2{
	display:none;
}
#s2 .bx:last-child > .bx-body p{
	display:none;
}
/* [!element:double-rect] */

#s4{
/*#s2.section{*/
  display:flex;
  display: -webkit-flex;
}


#s6{
	width:50%;
	/*#s2.section{*/
	display:flex;

	flex-wrap: wrap;
	-webkit-flex-wrap: wrap; 

	height:50vh;
	align-content: stretch;
	float:left;
}
#s6 .bx{
	flex-grow: 1;
}
#s6 .bx:nth-child(3n+3) {
	flex: 0 0 100%;
	flex: 0 0 100%;
}


#s6 > .bx .bx-body p{
	display:none;	  
}



#s7{
	width:50%;
	/*#s2.section{*/
	display:flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap; 

	height:50vh;
	align-content: stretch;
	float:right;
}
#s7 .bx{
	flex: 0 0 50%;
	-webkit-flex: 0 0 50%;
}

#s7 .bx:nth-child(3n+3) {
	flex: 0 0 100%;
	-webkit-flex: 0 0 100%;
}
#s7 > .bx .bx-body p{
	display:none;	  
}

