#s1 > .bx .bx-body{
	display: flex;
	flex-direction: column-reverse;
}

/* [element:double-rect] */
#s2{
	/*#s2.section{*/
	display:flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap; 
}
#s2 .bx:last-child > .bx-body h2{
	display:none;
}
#s2 .bx:last-child > .bx-body p{
	display:none;
}
/* [!element:double-rect] */

#s4{
/*#s2.section{*/
	display:flex;
	display: -webkit-flex;
}


#s6{
	width:50%;
	/*#s2.section{*/
	display:flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap; 
	height:33vh;
	align-content: stretch;
	float:left;
}
#s6 .bx{
	flex: 1 2;
}
#s6 .bx:nth-child(3n+3) {
	flex: 0 0 100%;
	flex: 0 0 100%;
}


#s7{
	width:50%;
	/*#s2.section{*/
	display:flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap; 
	height:33vh;
	align-content: stretch;
	float:right;
}
#s7 .bx{
	flex: 1 2;
}
#s7 .bx:nth-child(3n+1){
	flex: 0 0 100%;
	flex: 0 0 100%;
}


