/* [element:big-header] */
#s1 > .bx{
  height:30%;
}
#s1 > .bx .bx-body{
  padding:5% 10%;
  font-weight: 300;
}
#s1 > .bx .bx-body h2{
  font-weight: 300;
  font-size:2.5em;
}
/* [!element:big-header] */

/* [element:double-rect] */
#s2{
/*#s2.section{*/
  display:flex;
}
#s2 > .bx{
  flex: 0 0 50%;
}
/* [!element:double-rect] */