main{
  min-height:100vh;
}

.bx-wrapper{
  min-height:3em;
}

#s1{
  text-align: center;
}

#s1 figure{
  /* zero */
  padding:0;
  width:100%;
  padding-bottom:100%;
  margin:0 auto;
}

#s3 figure{
  /* zero */
  padding: 0px;
  margin: 5px;
  height: 4vw;
  width: 4vw;
}
